 .product-price__wrapper.main-product__price__wrapper .product-price_top  .segment-price .price
{
    display:none;
}
.product-price__wrapper.main-product__price__wrapper   .original-price
{
    display: block;
}
.product-price_top .price .product-price
{
    color: gray;
    text-decoration: line-through;
}  
.variant-price
{
    text-decoration: line-through; 
}