.gallery {
  background: var(--color-background) var(--gradient-background) no-repeat 100% 100%;
}
.gallery__wrp {
  position: relative;
  display: flex;
  overflow: hidden;
}
.gallery__wrp::after {
  content: "";
  padding-top: var(--image-ratio);
}
.gallery__wrp::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--overlay-bg-color);
  z-index: 1;
}
.gallery__wrp--top {
  align-items: flex-start;
}
.gallery__wrp--middle {
  align-items: center;
}
.gallery__wrp--bottom {
  align-items: flex-end;
}
.gallery__link .gallery__img,
.gallery__link svg {
  transition: 1s ease transform;
}
@media screen and (min-width: 768px) {
  .gallery__link:hover .gallery__img,
.gallery__link:hover svg {
    transform: scale(1.08);
  }
}
.gallery .sliderControl .swiper-pagination-bullets {
  bottom: unset;
  display: flex;
  justify-content: flex-start;
}
.gallery__imageWrp svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.gallery__img {
  overflow: hidden;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__subheading {
  color: var(--color-text);
  font-weight: var(--font-body-weight-bold);
  margin-bottom: 8px;
}
.gallery__description {
  margin-bottom: 16px !important;
}
.gallery__content {
  position: relative;
  z-index: 2;
}
.gallery__contentWrp > *, .gallery__contentWrp h3, .gallery__contentWrp p {
  color: var(--block-text-color);
}
.gallery__content-container {
  width: 100%;
}
.gallery .content-position {
  display: flex;
  max-width: 90%;
  width: 100%;
  margin: 32px;
}
@media screen and (max-width: 991px) {
  .gallery .grid-layout--3-desktop {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 512px) {
  .gallery .grid-layout--3-desktop {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (max-width: 512px) {
  .gallery .grid-layout--2-desktop {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (max-width: 767px) {
  .gallery .container carousel-component {
    margin-right: -15px;
  }
}
@media screen and (max-width: 767px) {
  .gallery .no-spacing {
    border-radius: var(--block-border-radius) 0 0 var(--block-border-radius);
  }
}

.no-js .gallery .js-element {
  display: block !important;
}
.no-js .gallery .js-element .swiper-container {
  visibility: visible;
  opacity: 1;
}
.no-js .gallery .js-element .swiper-container .swiper-wrapper {
  overflow-x: scroll;
}
.no-js .gallery .js-element .swiper-container .swiper-slide {
  margin-right: 20px;
  max-width: 416px;
  width: 64%;
}